* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    max-width: 1400px;
    min-width: 375px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    color: #222222;
}

.header-section {

    margin-bottom: 100px;
}

.header-container{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    object-fit: contain;
}

.site-title {

    width: 15%;
    text-align: center;

}

.site-nav {

    width: 30%;
    display: flex;
    justify-content: space-around;

    
}

.site-nav>a {
    color: inherit;
    text-decoration: none;

}

.site-nav>a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.logo-container {

    width: 10%;
    margin-left: 0px;

    ;
}

.logo-container__site-logo {
    height: 60px;


}

.banner {
    width: 100%;
}

.banner>img {
    width: 100%;
    height: 400px;
    max-width: 1400px;
    object-fit: cover;
}

.services-section,
.seccion-noticias,
.seccion-equipo {
    display: flex;
    margin-bottom: 100px;
}

.seccion-noticias,
.header-container{


}

.seccion-noticias {
    flex-wrap: wrap;
}

.services-info {
    padding: 20px;
    text-align: center;
}

.news-info {
    width: 50%;
    padding: 20px;
}

.news-header {
    display: flex;
    justify-content: space-around;
}

.news-info__title {
    align-self: center;
}

.seccion-pie {
    background-color: #25294f;
    height: 200px;
    display: flex;
    color: white;
    justify-content: space-evenly;
}

.services-info__imagen {
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
}

.team-info{
    width: 25%;
    padding: 15px;
}

.team-info__imagen{
    display: block;
    margin-right: auto;
    margin-left: auto;
}


